#footer{
    height: 5cm;
    background-color: #333;
    width: 100%;

    bottom: 0;
    left: 0;
}
.con{
    font-style: oblique;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 5%;
}
.footer-box
{
    text-align: center;
    font-size: 15px;
    font-family: Cambria;
}
.footer-box1
{
   text-align: center;
   font-family: Cambria;
}
.footer-box .fa
  {
     margin-right: 8px;
     font-size: 20px;
     height: 30px;
     width: 30px;
     text-align: center;
      padding-top: 7px;
      border-radius: 2px;
      color: #fff;
  }
  .footer-box1 .fa
  {
     margin-right: 20px;
     font-size: 30px;
     height: 40px;
     width: 40px;
     text-align: center;
      padding-top: 7px;
      border-radius: 2px;
      color: #fff;
      text-decoration: none;
      margin-top: 20px;
      margin-left: 10px;
  }
  #mail{
    color: red;
  }
  #footer .footer-box1 p {
    color: red;
    font-family: Cambria;
  }
  #how{
    color: red;
    font-family: Cambria;
  }
  .fa-phone{
    margin-left: -35px;
    transition: transform .2s;
  }
  .fa-phone:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
  }
  .fa-map-marker{
    transition: transform .2s;
  }
  .fa-map-marker:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
  }
  .fa-envelope{
    transition: transform .2s;  
  }
  .fa-envelope:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    margin-bottom: 5px;
    transition: transform .2s;
  }
  .fa-facebook:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);  
  }

  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
    margin-bottom: 5px;
    transition: transform .2s;
  }
  .fa-instagram:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
  }

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin-bottom: 5px;
  transition: transform .2s;
}
.fa-linkedin:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);   
}
.fa-github{
  background: black;
  color: white;
  transition: transform .2s;
} 
.fa-github:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
} 
.footer-box P{
  color: #fff;
}
.footer-box1 P{
    color: #fff;
  }

